<h1>Aladdin</h1>
<p>I can show you the world of Agrabah!  Made in 1992 and is an hour and 30 minutes.</p>
<br>
<p>A kindhearted street urchin and a power-hungry Grand Vizier vie for a magic lamp that has the power to make their deepest wishes come true.</p>
<%= link_to "Back to Top Ten", "/" %>
