<h1>Beauty and the Beast</h1>
<p>Released in 1991 and is 1 hour and 24 minutes long</p>
<br>
<p>A prince cursed to spend his days as a hideous monster sets out to regain his humanity by earning a young woman’s love.</p>
<%= link_to "Back to Top Ten", "/" %>
