<h1>Big Hero Six</h1>
<p>Released in 2014 and is 1 hour and 42 minutes</p>
<br>
<p>A special bond develops between plus-sized inflatable robot Baymax and prodigy Hiro Hamada, who together team up with a group of friends to form a band of high-tech heroes.</p>
<%= link_to "Back to Top Ten", "/" %>
