<h1>Frozen</h1>
<p>Released in 2013 and is 1 hour and 42 minutes long</p>
<br>
<p>When the newly crowned Queen Elsa accidentally uses her power to turn things into ice to curse her home in infinite winter, her sister Anna teams up with a mountain man, his playful reindeer, and a snowman to change the weather condition.</p>
<%= link_to "Back to Top Ten", "/" %>
