<h1>The Little Mermaid</h1>
<p>Released in 1989 and is 1 hour and 23 minutes long</p>
<br>
<p>A mermaid princess makes a Faustian bargain in an attempt to become human and win a prince’s love.</p>
<%= link_to "Back to Top Ten", "/" %>
