<h1>Moana</h1>
<p>Released in 2016 and is 1 hour and 47 minutes long</p>
<br>
<p>In Ancient Polynesia, when a terrible curse incurred by the Demigod Maui reaches Moana’s island, she answers the Ocean’s call to seek out the Demigod to set things right.</p>
<%= link_to "Back to Top Ten", "/" %>
