<h1>Monsters Inc</h1>
<p>Released in 2001 and is 1 hour and 32 minutes long</p>
<p>In order to power the city, monsters have to scare children so that they scream. However, the children are toxic to the monsters, and after a child gets through, 2 monsters realize things may not be what they think.</p>
<%= link_to "Back to Top Ten", "/" %>
