<h1>Tangled</h1>
<p> Released in 2010 and is 1 hour and 40 minutes long.</p>
<br>
<p>The magically long-haired Rapunzel has spent her entire life in a tower, but now that a runaway thief has stumbled upon her, she is about to discover the world for the first time, and who she really is.</p>
<%= link_to "Back to Top Ten", "/" %>
