## <div class="background-image" ></div>
<h1> CultureHead Magazine </h1>



<body>

<button type=onclick > <%= link_to 'ADD TO THE CULTURE', new_post_path, class:'clicks' %> </button>

<ul>
    <% @posts.each do |post| %>
        <li>
         <%= link_to post.title, post_path(post) %>
        </li>
    <% end %>
</ul>

</body>
